<h1>Liste des contacts</h1>
<ul class="contacts">
    {% for contact in contacts %}
        <li>
            <a href="{{ path('app_contact_show', {id:contact.id}) }}">
                <h6><span class="lastname">{{ contact.lastname }}</span>,
                    <span class="firstname">{{ contact.firstname }}</span>
                    {% if contact.category %}
                    <span class="badge bg-secondary">{{ contact.category.name  }}</span>
                    {% endif %}
                </h6>
            </a>
        </li>
    {% endfor %}
</ul>
