{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_hello_manytimes', {name:'Joe', times:5}) }}">Hello Joe</a></li>
        <li><a href="{{ path('\many_times.html.twig', {name:'Bob', times:8}) }}">Hello bob</a> </li>
    </ul>
{% endblock %}

