{% extends 'base.html.twig' %}

{% block title %}
    Hello many times!
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    {% set col = ["green", "red"] %}
    {% for i in 1..times %}
        <h1 style="color: {{ cycle(col,i) }}"><p>hello many times {{ name |capitalize }} ! ({{ i|format_number({integer_digit: 2}) }}) </p></h1>
    {% endfor %}
{% endblock %}