{% extends 'base.html.twig' %}

{% block title %}
    Welcome!
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    {% set col = ["green", "red"] %}
    {%  for i in 0..10 %}
        <h1 style="color: {{ cycle(col,i) }}"><p>{{ 'hello'|capitalize}} {{ slug }}! {{ i|format_number({integer_digit: 2}) }} </p></h1>
    {% endfor %}
{% endblock %}